<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Warehouse Console</title>
		<link rel="stylesheet" href="/styles/console.css" />
		<script
			src="https://code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"
		></script>
		<script src="scripts/console.js"></script>
	</head>
	<body>
		<div class="cover"></div>
		<div class="new">
			<div class="top"></div>
			<div class="content-left">
				<input type="text" id="name" placeholder="Name" />
				<input type="text" id="quantity" placeholder="Quantity" />
				<input type="text" id="price" placeholder="Price" />
				<textarea
					id="description"
					name="description"
					rows="10"
					cols="50"
					placeholder="Description"
				></textarea>
			</div>
			<div class="content-right">
				<button class="update">update</button>
			</div>
		</div>
		<div class="container">
			<div class="item header">
				<h2 class="page-title">Warehouse Console 1.0</h2>
				<div class="user-options">
					<h3 class="email"><%= email %></h3>
					<button class="logout" onclick="onClickLogout()">
						Log Out
					</button>
				</div>
			</div>
			<div class="head">
				<button class="add">New product</button>
				<button class="refresh" onclick="onClickRefresh(this)">
					Refresh
				</button>
			</div>
			<div class="item content-1">
				<% if (results.length == 0) { %>
				<p
					style="
						color: black;
						margin: 0 auto;
						font-weight: 500;
						font-size: 15px;
					"
				>
					Product list empty!
				</p>
				<%} else { %> <% results.forEach((obj)=>{%>
				<div class="product" onClick="onClickProduct(this)">
					<p class="title">
						<%= obj.title %><span class="sku">#<%= obj.SKU %></span>
					</p>
					<p class="quantity">
						<%= obj.quantity %><span class="pcs">/pcs</span>
					</p>
					<p class="price">₹<%= obj.price %></p>
				</div>
				<% }) %> <% } %>
			</div>
			<div class="item content-2">
				<p
					style="
						color: black;
						margin: 0 auto;
						font-weight: 500;
						font-size: 15px;
						position: relative;
						left: 50%;
						top: 20%;
					"
				>
					Click on a product to see details
				</p>
			</div>
			<div class="item footer"></div>
		</div>
	</body>
</html>
